---
http_interactions:
- request:
    method: post
    uri: https://test.saferpay.com/api//Payment/v1/PaymentPage/Initialize
    body:
      encoding: UTF-8
      string: '{"RequestHeader":{"SpecVersion":"1.15","CustomerId":"245294","RequestId":"d06fedf4-6397-49f1-802d-9b3aab138891","RetryIndicator":0},"TerminalId":"17925578","Payment":{"Amount":{"Value":100,"CurrencyCode":"CHF"},"OrderId":"R123456789","Description":"Order
        R123456789"},"ReturnUrls":{"Success":"http://localhost:3004","Fail":"http://localhost:3004"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic QVBJXzI0NTI5NF8wODcwMDA2MzptZWk0WG9vemxlNGRvaTBB
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"ResponseHeader":{"SpecVersion":"1.15","RequestId":"d06fedf4-6397-49f1-802d-9b3aab138891"},"Token":"jdegy0x8rzg1xfmcon727uk9a","Expiration":"2020-01-09T12:55:39.094+01:00","RedirectUrl":"https://test.saferpay.com/vt2/api/PaymentPage/245294/17925578/jdegy0x8rzg1xfmcon727uk9a"}'
  recorded_at: Thu, 09 Jan 2020 10:55:38 GMT
recorded_with: VCR 4.0.0
