---
http_interactions:
- request:
    method: post
    uri: https://test.saferpay.com/api//Payment/v1/PaymentPage/Initialize
    body:
      encoding: UTF-8
      string: '{"RequestHeader":{"SpecVersion":"1.11","CustomerId":"245294","RequestId":"db584f37-dbfa-4335-bb6f-55dca2f9d3c9","RetryIndicator":0},"TerminalId":"17925560","Payment":{"Amount":{"Value":100,"CurrencyCode":"CHF"},"OrderId":"R123456789","Description":"Order
        R123456789"},"ReturnUrls":{"Success":"http://localhost:3004","Fail":"http://localhost:3004"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic QVBJXzI0NTI5NF8wODcwMDA2MzptZWk0WG9vemxlNGRvaTBB
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"ResponseHeader":{"SpecVersion":"1.11","RequestId":"db584f37-dbfa-4335-bb6f-55dca2f9d3c9"},"Token":"1tsy5erj9sjaivk5ghbksucox","Expiration":"2019-05-21T01:46:08.597+02:00","RedirectUrl":"https://test.saferpay.com/vt2/api/PaymentPage/245294/17925560/1tsy5erj9sjaivk5ghbksucox"}'
  recorded_at: Mon, 20 May 2019 22:46:08 GMT
recorded_with: VCR 4.0.0
