---
http_interactions:
- request:
    method: post
    uri: https://test.saferpay.com/api//Payment/v1/PaymentPage/Initialize
    body:
      encoding: UTF-8
      string: '{"RequestHeader":{"SpecVersion":"1.10","CustomerId":"245294","RequestId":"95981562-af35-4929-ac2b-c1fff4e801d5","RetryIndicator":0},"TerminalId":"17925560","Payment":{"Amount":{"Value":100,"CurrencyCode":"CHF"},"OrderId":"R123456789","Description":"Order
        R123456789"},"ReturnUrls":{"Success":"http://localhost:3004","Fail":"http://localhost:3004"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic QVBJXzI0NTI5NF8wODcwMDA2MzptZWk0WG9vemxlNGRvaTBB
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"ResponseHeader":{"SpecVersion":"1.10","RequestId":"95981562-af35-4929-ac2b-c1fff4e801d5"},"Token":"nz4pxtbnf9v1utxb3siflycgo","Expiration":"2019-03-03T13:46:41.043+01:00","RedirectUrl":"https://test.saferpay.com/vt2/api/PaymentPage/245294/17925560/nz4pxtbnf9v1utxb3siflycgo"}'
  recorded_at: Sun, 03 Mar 2019 11:46:41 GMT
recorded_with: VCR 4.0.0
