---
http_interactions:
- request:
    method: post
    uri: https://test.saferpay.com/api//Payment/v1/PaymentPage/Assert
    body:
      encoding: UTF-8
      string: '{"RequestHeader":{"SpecVersion":"1.10","CustomerId":"245294","RequestId":"7be437f2-1fe2-4fee-88c3-ff72474c678d","RetryIndicator":0},"Token":"nz4pxtbnf9v1utxb3siflycgo"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic QVBJXzI0NTI5NF8wODcwMDA2MzptZWk0WG9vemxlNGRvaTBB
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"ResponseHeader":{"SpecVersion":"1.10","RequestId":"7be437f2-1fe2-4fee-88c3-ff72474c678d"},"Transaction":{"Type":"PAYMENT","Status":"AUTHORIZED","Id":"jdEhOxbE7dK1tAnQ0h7OArGOGEQb","Date":"2019-03-03T12:46:53.417+01:00","Amount":{"Value":"100","CurrencyCode":"CHF"},"OrderId":"R123456789","AcquirerName":"VISA
        Saferpay Test","AcquirerReference":"99186411964","SixTransactionReference":"0:0:3:jdEhOxbE7dK1tAnQ0h7OArGOGEQb","ApprovalCode":"639830"},"PaymentMeans":{"Brand":{"PaymentMethod":"VISA","Name":"VISA"},"DisplayText":"xxxx
        xxxx xxxx 0004","Card":{"MaskedNumber":"xxxxxxxxxxxx0004","ExpYear":2019,"ExpMonth":3,"HolderName":"Yamada
        Taro","CountryCode":"JP"}},"Payer":{"IpAddress":"31.10.155.156","IpLocation":"CH"},"Liability":{"LiabilityShift":true,"LiableEntity":"ThreeDs","ThreeDs":{"Authenticated":true,"LiabilityShift":true,"Xid":"AWcYKAwOP0kgBDtHZyUGDypDcQA=","VerificationValue":"jAABBIIFmAAAAAAAAAAAAAAAAAA="}}}'
  recorded_at: Sun, 03 Mar 2019 11:46:57 GMT
recorded_with: VCR 4.0.0
