---
http_interactions:
- request:
    method: post
    uri: https://test.saferpay.com/api//Payment/v1/PaymentPage/Assert
    body:
      encoding: UTF-8
      string: '{"RequestHeader":{"SpecVersion":"1.15","CustomerId":"245294","RequestId":"330e05ce-fa42-4570-9ad2-d805b578b982","RetryIndicator":0},"Token":"jdegy0x8rzg1xfmcon727uk9a"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic QVBJXzI0NTI5NF8wODcwMDA2MzptZWk0WG9vemxlNGRvaTBB
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"ResponseHeader":{"SpecVersion":"1.15","RequestId":"330e05ce-fa42-4570-9ad2-d805b578b982"},"Transaction":{"Type":"PAYMENT","Status":"AUTHORIZED","Id":"x7pvvIAMEYGhtAddG9IdArnfWO5A","Date":"2020-01-09T11:55:55.327+01:00","Amount":{"Value":"100","CurrencyCode":"CHF"},"OrderId":"R123456789","AcquirerName":"MasterCard
        Saferpay Test","AcquirerReference":"6016521763","SixTransactionReference":"0:0:3:x7pvvIAMEYGhtAddG9IdArnfWO5A","ApprovalCode":"770706"},"PaymentMeans":{"Brand":{"PaymentMethod":"MASTERCARD","Name":"MasterCard"},"DisplayText":"xxxx
        xxxx xxxx 0006","Card":{"MaskedNumber":"xxxxxxxxxxxx0006","ExpYear":2020,"ExpMonth":1,"HolderName":"John
        Doe","CountryCode":"US"}},"Payer":{"IpAddress":"31.10.145.50","IpLocation":"CH"},"Liability":{"LiabilityShift":true,"LiableEntity":"ThreeDs","ThreeDs":{"Authenticated":true,"LiabilityShift":true,"Xid":"57b2bfd5-1cb0-4a57-937a-19c7e8f5b71d"}}}'
  recorded_at: Thu, 09 Jan 2020 10:55:58 GMT
recorded_with: VCR 4.0.0
