---
http_interactions:
- request:
    method: post
    uri: https://test.saferpay.com/api//Payment/v1/PaymentPage/Assert
    body:
      encoding: UTF-8
      string: '{"RequestHeader":{"SpecVersion":"1.11","CustomerId":"245294","RequestId":"0d184689-b154-4ba0-a066-ef864ca8eac6","RetryIndicator":0},"Token":"1tsy5erj9sjaivk5ghbksucox"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic QVBJXzI0NTI5NF8wODcwMDA2MzptZWk0WG9vemxlNGRvaTBB
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"ResponseHeader":{"SpecVersion":"1.11","RequestId":"0d184689-b154-4ba0-a066-ef864ca8eac6"},"Transaction":{"Type":"PAYMENT","Status":"AUTHORIZED","Id":"GSrI17AlCIEvUAU8zfvWbrArft7A","Date":"2019-05-21T00:46:26.400+02:00","Amount":{"Value":"100","CurrencyCode":"CHF"},"OrderId":"R123456789","AcquirerName":"VISA
        Saferpay Test","AcquirerReference":"16921560148","SixTransactionReference":"0:0:3:GSrI17AlCIEvUAU8zfvWbrArft7A","ApprovalCode":"459985"},"PaymentMeans":{"Brand":{"PaymentMethod":"VISA","Name":"VISA"},"DisplayText":"xxxx
        xxxx xxxx 0004","Card":{"MaskedNumber":"xxxxxxxxxxxx0004","ExpYear":2019,"ExpMonth":5,"HolderName":"Yamada
        Taro","CountryCode":"JP"}},"Payer":{"IpAddress":"178.196.36.247","IpLocation":"CH"},"Liability":{"LiabilityShift":true,"LiableEntity":"ThreeDs","ThreeDs":{"Authenticated":true,"LiabilityShift":true,"Xid":"MAxVbwhOUC0RBCFDJU8Adid3CAY="}},"Dcc":{"PayerAmount":{"Value":"138","CurrencyCode":"JPY"}}}'
  recorded_at: Mon, 20 May 2019 22:46:31 GMT
recorded_with: VCR 4.0.0
