---
http_interactions:
- request:
    method: post
    uri: https://test.saferpay.com/api//Payment/v1/Transaction/Capture
    body:
      encoding: UTF-8
      string: '{"RequestHeader":{"SpecVersion":"1.11","CustomerId":"245294","RequestId":"5244b9f9-fc44-419a-b4cc-23ea079103d7","RetryIndicator":0},"TransactionReference":{"TransactionId":"jdEhOxbE7dK1tAnQ0h7OArGOGEQb"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic QVBJXzI0NTI5NF8wODcwMDA2MzptZWk0WG9vemxlNGRvaTBB
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"ResponseHeader":{"SpecVersion":"1.11","RequestId":"5244b9f9-fc44-419a-b4cc-23ea079103d7"},"CaptureId":"jdEhOxbE7dK1tAnQ0h7OArGOGEQb","Status":"CAPTURED","Date":"2019-05-20T17:46:44.809+02:00"}'
  recorded_at: Mon, 20 May 2019 15:46:44 GMT
recorded_with: VCR 4.0.0
