---
http_interactions:
- request:
    method: post
    uri: https://test.saferpay.com/api//Payment/v1/Transaction/Capture
    body:
      encoding: UTF-8
      string: '{"RequestHeader":{"SpecVersion":"1.11","CustomerId":"245294","RequestId":"72e5da63-9a05-4e52-90fa-da01817d473e","RetryIndicator":0},"TransactionReference":{"TransactionId":"GSrI17AlCIEvUAU8zfvWbrArft7A"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic QVBJXzI0NTI5NF8wODcwMDA2MzptZWk0WG9vemxlNGRvaTBB
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"ResponseHeader":{"SpecVersion":"1.11","RequestId":"72e5da63-9a05-4e52-90fa-da01817d473e"},"CaptureId":"GSrI17AlCIEvUAU8zfvWbrArft7A","Status":"CAPTURED","Date":"2019-05-21T00:46:31.478+02:00"}'
  recorded_at: Mon, 20 May 2019 22:46:31 GMT
recorded_with: VCR 4.0.0
